<div class="unauthorized-wrapper" fxLayout="row" fxLayoutAlign="center center">
<mat-card fxLayout="column" fxLayoutAlign="center center" class="unauthorized-card">
 <mat-icon color='accent'>report</mat-icon>
  <mat-card-header>
    <mat-card-title>wrong credentials</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/login" mat-button>Try again!</button>
    <button routerLink="/signup" mat-button>Register</button>
  </mat-card-actions>
</mat-card>
</div>
